@import "@fontsource/radio-canada-big";
@import "@fontsource/source-serif-pro";
@import "tailwindcss";

@theme {
  --color-paper: #ffffff;
  --color-ink: #111111;
  --color-subtle: #666666;
  --color-ui-border: #eeeeee;
  --color-accent: #ff1a1a; /* Vibrant Red */
  --color-grey-light: #f2f2f2;
  --color-grey-medium: #ebebeb;

  --font-display: "Radio Canada Big", sans-serif;
  --font-body: "Source Serif Pro", serif;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-body);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 500;
}
